<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar usuario</title>
</head>
<body>
    
    <h1>Registar nuevo usuario</h1>

    <form method="POST" action="{{ url_for('REGISTER') }}">


        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">

        <label for="mail">mail</label>
        <input type="text" id="mail" name="mail">
        
        <label for="password">contraseña</label>
        <input type="text" id="password" name="password">

        <button type="submit">Registrar</button>
    </form>

    <a href="{{url_for('index')}}">volver a la lista</a>

</body>
</html>